<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kerrymbisset.valleybeta3">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OpeningScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".List_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".OpeningScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kerrymbisset.valleybeta3.OpeningScreen" />
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MemberRelated.MemberDetailActivity"
            android:label="@string/title_activity_member_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MemberRelated.MembershipList"
            android:label="@string/title_activity_membership_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventRelated.EventList"
            android:label="@string/title_activity_membership_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventRelated.CreateEventActivity"
            android:label="@string/title_activity_membership_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventRelated.Event_Details"
            android:label="@string/title_activity_event__details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SmallGroupRelated.SmallGroupList"
            android:label="@string/title_activity_small_group_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SmallGroupRelated.CreateSmallGroupActivity"
            android:label="@string/title_activity_create_small_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SmallGroupRelated.SmallGroupDetails"
            android:label="@string/title_activity_small_group_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatRoomRelated.ChatroomListActivity"
            android:label="@string/title_activity_chatroom"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>